body {
  margin: 0;
  padding: 0;
}

.gamebody {
  background-image: url("../images/starbackground.jpg");
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  color: gold;
}

.bookbody {
  background-image: url("../images/paper.jpg");
  font-family: "Times New Roman", Times, serif;  
}

.indexbody {
  background: rgb(158,149,149);
  background: linear-gradient(90deg, rgba(158,149,149,1) 0%, rgba(255,255,255,1) 50%, rgba(158,149,149,1) 100%);
  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  text-decoration: underline;	
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  text-align: center;
  text-decoration: underline;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  text-align: center;
}

ul {
  display: table;
  margin: 0 auto; 
  padding-bottom: 40px; 
  padding-top: 40px;
  list-style-type: none
}

#title{
  font-family: "Lato", sans-serif;
  font-size: 64px;
  border-radius: 10px;
  padding-bottom: 40px;
  text-align: center;
}

#fixedwrapper {
  width: 960px;
  margin: 0 auto;
  border: 10px solid black;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../images/books.jpg");
}

#imagesf {
  float: left;
  width: 41%;
  margin-top: 20px;
  margin-left: 20px;
}

#mainf {
  float: left;
  width: 54%;
  margin-top: 20px;
  padding-left: 2%;
}

#mainf p {
  float: left;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px; 
}

#bspacer1 {
  padding-top: 300px;
}

#bspacer2 {
  padding-top: 420px;
}

#bspacer3 {
  padding-top: 340px;
}

#wrapperg {
  width: 100%;
}

#mainbodyg {
  width: 35%;
  outline: 3px solid gold;
  position: relative;
  top: 25px;
  left: 125px;
  margin: auto;
  display: block;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center; 
  float: left;
}

#imagerg {
  width: 25%;
  position: relative;
  top: 200px;
  left: 200px;
  margin: auto;
  display: block;
  outline: 3px solid blue;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center; 
  float: left;
}

#imagelg {
  width: 25%;
  position: relative;
  top: 200px;
  left: 50px;
  margin: auto;
  display: block;
  outline: 3px solid red;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center; 
  float: left;
}

#centerimage{
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sideimager {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sideimagel {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#vid {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#resumemain {
  width: 50%;
  position: relative;
  top: 0;
  left: 25%;
  margin: 0;
  outline: 3px solid black;
  margin-top: 150px;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: center
}

nav#main-navbar{
  background: linear-gradient(to right, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
  width: 100%;
  position: relative; 
}

#navbar-container {
  width: 100%;
  position: relative;
  text-align: center;  
}

#main-navbar a {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: center;
 }

nav#main-navbar ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

nav#main-navbar ul li {
  float: left;
  margin-left: 40px;
  margin-right: 40px; 
}

nav#main-navbar ul li a {
  display: block;
  background: linear-gradient(to bottom, rgba(216,224,222,1) 0%,rgba(174,191,188,1) 22%,rgba(153,175,171,1) 33%,rgba(142,166,162,1) 50%,rgba(130,157,152,1) 67%,rgba(78,92,90,1) 82%,rgba(14,14,14,1) 100%);
  color: #fff;
  font-weight: bold;
  text-decoration: underline white;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 20px 20px 20px 20px;
  border-radius: 4px;
  width: 100%;
}

nav#main-navbar ul li a:hover {
  background: white;
  color: black;
}




